.showResults{
    width: 374px !important;
    z-index: 5555!important;
    position: absolute!important;
    top: 62px!important;
    border-radius: 18px!important;
    background-color: white!important;
    border: 1px solid #eee!important;
}
.showResults p{
    color: #0c5460;
    padding-left: 8px;
    margin-top: 10px;
}
.selectYear{
    color: black !important;
}
#quantity{
    margin-left: 10px;
    width: 50px;
    height: 30px;
}
.buyProducts{
    display: none;
}
.onePurchase{
    border: 2px solid #eb4800;
}
.mainDiv{
    width: 100%;
    min-height: 140px !important;
    margin-bottom: 100px!important;
}
.modalDiv{
    width: 1040px;
    left: 30%!important;
    top: 3%!important;
    position: absolute;
}
.dropLi{
    padding: 5px;
    cursor: pointer;
}
.firstLi{
    padding: 5px 0;
    cursor: pointer;

}
.priceDiv{
    width: 250px;
    height: 70px;
    position: absolute;
}
#bg{
    background: rgba(0,0,0,.1);
    width: 200px ;
    height: 3px;
    border-radius: 100px;
}
#thumb{
    height: 7px;
    width: 7px;
    background:  #999;
    border-radius: 20px;
    top: -2px;
    left: 0px;
    position: absolute;
    cursor: pointer;
}
.ml{
    float: left!important;
}
.mr{
    float: right!important;
}
.secondCheck,.firstCheck{
    margin-right: 5px !important;
}
.priceValue{
    text-align: center;
    margin-left: 15px;
}
.chatDiv{
    position: fixed;
    bottom: 0;
    right: 79px;
    width: 280px;
    height: 60px;
    background-color: white;
    z-index: 777;
    border:2px solid #eb4800;
    box-sizing: border-box;
    padding-bottom: 50px;
}
.chatDiv form{
    display: none;
}
.chatHead{
    height: 60px;
    width: 100%;
    background-color: #eb4800;
    cursor: pointer;
}
.chatHead p:nth-child(1){
    text-align: right;
}
.chatHead p{
    padding: 5px;
    color: white;
    font-size: 20px;
    margin-bottom: 0;
}
.chatBody{
    width: 100%;
    height: 270px;
    overflow: auto;
}
.chatBody p{
    padding: 5px 5px;
    font-size: 14px;
    margin-bottom: 0;
}
.chatBody p input{
    margin-bottom: 5px;
    margin-right: 5px;
}
.formDiv input{
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 70%;
    z-index: 111!important;
}
.formDiv button{
    position: absolute;
    bottom: 0;
    right: 0;
    width:25%;
    height: 30px;
}
.formDiv{
    height: 30px;
    width: 100%;
}
.noExists{
    color: red;
    margin: 5px 0;
    position: absolute;
    bottom: 2px;
    left: 62px;
}
.exists{
    color: black;
    left: 102px;
}
.hideB{
    display: none;
}
.subscribe{
    color: white;
    font-size: 14px;
}
.alertResponse{
    color: red;
}
#clear{
    margin-left: 10px;
}
#uploadFile{
    display: none;
}
.alertMessage{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 40px;
}
.example{
    margin-bottom: 20px;
}
.checkRow{
    margin-top:5px!important;
}
#myModal2{
    display: none;
}
.csvButton{
    display: none;
}