.showResults{
    width: 374px !important;
    z-index: 5555!important;
    position: absolute!important;
    top: 62px!important;
    border-radius: 18px!important;
    background-color: white!important;
    border: 1px solid #eee!important;
}
.showResults p{
    color: #0c5460;
    padding-left: 8px;
    margin-top: 10px;
}
.selectYear{
    color: black !important;
}
#quantity{
    margin-left: 10px;
    width: 50px;
    height: 30px;
}
.buyProducts{
    display: none;
}
.onePurchase{
    border: 2px solid #eb4800;
}
.mainDiv{
    width: 100%;
    min-height: 140px !important;
    margin-bottom: 100px!important;
}
.modalDiv{
    width: 1040px;
    left: 30%!important;
    top: 3%!important;
    position: absolute;
}
.dropLi{
    padding: 5px;
    cursor: pointer;
}
.firstLi{
    padding: 5px 0;
    cursor: pointer;

}
.priceDiv{
    width: 250px;
    height: 70px;
    position: absolute;
}
#bg{
    background: rgba(0,0,0,.1);
    width: 200px ;
    height: 3px;
    border-radius: 100px;
}
#thumb{
    height: 7px;
    width: 7px;
    background:  #999;
    border-radius: 20px;
    top: -2px;
    left: 0px;
    position: absolute;
    cursor: pointer;
}
.ml{
    float: left!important;
}
.mr{
    float: right!important;
}
.secondCheck,.firstCheck{
    margin-right: 5px !important;
}
.priceValue{
    text-align: center;
    margin-left: 15px;
}